pytest==7.0.1
allure-pytest==2.9.45
allure-python-commons==2.9.45
attrs==21.4.0
execnet==1.9.0
importlib-metadata==4.8.1
pytest-xdist==2.5.0
requests==2.27.1
selenium==4.1.2
Faker==13.3.1
zipp==3.6.0
webdriver_manager==3.5.3
pymysql==1.0.2
SQLAlchemy==1.4.35
Flask==1.1.2
jinja2<3.1.0
itsdangerous==2.0.1
werkzeug==2.0.3

